.home {
    background-color: #331251;
}

.base {
    background-color: #260d77;
}

.group {
    background-color: #20a263;
}

.accolades {
    background-color:darkgoldenrod;
}

.demons {
    background-color:crimson;
}

body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: white;
}

p {
    color: white;
}

nav ul {
    list-style: none;
    background-color: thistle;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: dotted;
    color: black;
    display: block;
}

nav a:hover {
    color: #4a4a4f;
}

 img{
    height: 250px;
    width: 250px;
    right: auto;
}

.intro {
    text-decoration: dotted;
    color: white;
    display: block;
}

li {
    list-style-type: georgian;
}